.card{
    height: 14vw;
    width: 14vw;
    padding: 1vw 1.5vw;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}

.card p{
    font-size: 1vw;
    font-weight: 400;
}
.card:hover{
    img{
        background-color: var(--secondary-background);
    }
    background-color: var(--primary-background);
    transform: scale(1.05);
}
.card img{
    width: 1.5vw;
    margin-left: 95%;
    padding: 5px;
    background-color: var(--primary-background);
    box-sizing: content-box;
    border-radius: 50%;
}
@media(max-width: 900px) {
    .card{
        width: 20vw;
        height: 20vw;
        padding: 15px 25px;
    }
    .card p{
        font-size: 1.5vw;
    }
    .card img{
        width: 3vw;
    }
}
@media (max-width: 500px) {
    .card{
        height: 36vw;
        width: 36vw;
        padding: 20px 15px;
    }
    .card p{
        font-size: 3vw;
    }
    .card img{
        width: 5vw;
        margin-bottom: -10%;
        margin-left: 80%;
    }
}