.card{
    height: 200px;
    width: 200px;
    padding: 1vw 1.5vw;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}

.card p{
    font-size: 1vw;
    font-weight: 400;
}
.card:hover{
    img{
        background-color: var(--secondary-background);
    }
    background-color: var(--primary-background);
    transform: scale(1.05);
}
.card img{
    width: 1.5vw;
    margin-left: 95%;
    padding: 5px;
    background-color: var(--primary-background);
    box-sizing: content-box;
    border-radius: 50%;
}